<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunshare.modules.mapper.YunshareFlowNotifyMapper">
     <resultMap type="com.yunshare.modules.entity.YunshareFlowNotify" id="yunshareFlowNotifyMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="instanceId" column="instance_id" jdbcType="VARCHAR"/>
        <result property="businessId" column="business_id" jdbcType="VARCHAR"/>
        <result property="nodeId" column="node_id" jdbcType="VARCHAR"/>
        <result property="requestUrl" column="request_url" jdbcType="VARCHAR"/>
        <result property="requestParam" column="request_param" jdbcType="VARCHAR"/>
        <result property="responseParam" column="response_param" jdbcType="VARCHAR"/>
        <result property="responseErrorCode" column="response_error_code" jdbcType="VARCHAR"/>
        <result property="isFinished" column="is_finished" jdbcType="INTEGER"/>
        <result property="isPass" column="is_pass" jdbcType="INTEGER"/>
        <result property="sendCount" column="send_count" jdbcType="INTEGER"/>
        <result property="dealStatus" column="deal_status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>

