<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunshare.modules.mapper.YunshareFormDefPermissionMapper">

    <resultMap id="BaseResultMap" type="com.yunshare.modules.entity.YunshareFormDefPermission">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="permission" column="form_data_permission" jdbcType="OTHER"/>
        <result property="processDefinitionId" column="process_definition_id" jdbcType="INTEGER"/>
    </resultMap>
</mapper>
